#################################
# Archivos Generados por Unreal Engine #
#################################
/[Bb]uild
/[Bb]uilds
/Binaries
/DerivedDataCache
/Intermediate
/Saved

#################################
# Archivos Generados por Visual Studio #
#################################
# Directorio de Caché
.vs
# Archivos Específicos del Usuario
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# Archivos de Caché CPP
*.VC.db
*.opendb
*.opensdf
*.sdf
# Archivos de Solución
*.sln
# Directorio de Caché de VSCode
.vscode
# Archivos de Historial de VSCode
**/.history
Cowboy_bebop/Intermediate/Build/Win64/x64/Cowboy_bebopEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.InclOrderUnreal5_3.h.pch
